/*!
 * Changes to CSS made by Haakon Gjerløw
*/

html body{
  color: #535c63;
  background-color: #eeefe9;
}


/*START EVERYTHING CAROUSEL*/
@media screen and (max-width: 1024px) {
        .flex-caption,
	.flexslider .slides li:first-child:nth-last-child(1) .flex-caption,
	.flexslider .slides li:only-child .flex-caption {
		display: block;
	}
}
/* START OF Change the caption position and background band */
.carousel-caption {
  position: absolute;
    left: auto;
    right: auto;
    bottom:0;
    max-width: 100%;
    width:100%;
    height: auto;
    max-height: 30%;
	/*transform: translateX(-15%);*/
	background: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;

}
/* END OF Change the caption position and background band */

/* START OF Change the font/size/color of the Slider Titles */
/* Title text */
.carousel-caption h1 {
  font-size:      1.2rem;
  color:          white !important;
}
/* Description text */
.carousel-caption p {
  font-size:      1.2rem;
  color:          white !important;
}

.carousel-control {
  width: 10%;
}

/* START TRANSPARENT NAVBAR
  .navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
/* END TRANSPARENT NAVBAR */

/*START of Lightbox */
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 50%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  overflow-y: auto;
  width: calc(100% - 150px);
  max-width: 800px;
}


/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 100px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* END of lightbox */

/*!
 * Allows for tabbed lines
*/
.tab { margin-left: 40px; }


/* HERO-Image */
body, html {
  height: 100%;
  margin: 0;
}

.hero-image-opener {
background-image: url("world_aid.png");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-image-deco {
background-image: url("hero_deco_blue.png");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-image-dotpattern {
background-image: url("dotpattern.png");
height: 200%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-image-black {
background-image: url("heroblack.png");
height: 200%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-image-white {
background-image: url("herowhite.png");
height: 200%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-image-smart {
background-image: url("smart2.jpg");
height: 75%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-text {
text-align: center;
position: absolute;
left: 50%;
font-size: 2rem;
top: 75%;
transform: translate(-50%, -50%);
color: white;
}

/*
.heroabout {
text-align: center;
position: absolute;
font-size: 2vw;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
color: black;
}

/*
@media all and (min-width: 600px) {
  .hero-wide {
  text-align: center;
  position: absolute;
  max-width: 90%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 1.4vw;
  text-transform: uppercase;
  font-weight: 1000;
  letter-spacing: 0.1rem;
  }
}

@media all and (max-width: 1024px) {
  .hero-wide {
  text-align: center;
  position: absolute;
  max-width: 90%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 1.4vw;
  text-transform: uppercase;
  font-weight: 1000;
  line-height: 150%;
  letter-spacing: 0.1rem;
  }
}

@media all and (max-width: 599px) {
    .hero-wide {
    text-align: center;
    position: absolute;
    max-width: 90%;
    width: 90%
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1.4vw;
    text-transform: uppercase;
    font-weight: 1000;
    line-height: 130%;
    }
}

/*START make footer fit inside HERO image*/
@media (min-width: 600px) {
  .hero-text-foot {
    text-align: center;
    position: absolute;
    max-width: 90%;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1.4vw;
    text-transform: uppercase;
    font-weight: 1000;
    line-height: 150%;
    letter-spacing: 0.1rem;
  }
}
@media (max-width: 1024px) {
  .hero-text-foot {
    text-align: center;
    position: absolute;
    max-width: 90%;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 1000;
    line-height: 150%;
    letter-spacing: 0.1rem;
  }
}
@media (max-width: 599px) {
  .hero-text-foot {
    text-align: center;
    position: absolute;
    max-width: 90%;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 1000;
    line-height: 150%;
    letter-spacing: 0.1rem;
  }
}
/*END make footer fit inside HERO image*/


.hero-text button {
border: none;
outline: 0;
display: inline-block;
padding: 10px 25px;
color: black;
background-color: #ddd;
text-align: center;
cursor: pointer;
}

.hero-text button:hover {
background-color: #555;
color: white;
}

/* START space above row */
.top-buffer { margin-top:20px; }
/* END Space above row */



/*START flexbox */
* {
    box-sizing: border-box;
}

.flexrow {
    display: flex;
}

/* Create two equal columns that sits next to each other */
.flexcolumn {
    flex: 50%;
    padding: 10px;
}
/* END Flexboc */


/*Fix borken navbar dropdown*/
.collapse.in{
    display:block;
}
/*END fix broken navbar dropdwon*/

/*START resize navbar brand for image*/
.navbar-brand {
    padding: 0;
}

.navbar-brand  >img {
    padding: 10px;  // this value is optional, increasing or decreasing it is up to you.
    display:flex;
    height: 100%;
}

@media (max-width: 767px){
  .navbar-collapse {
    background: #F7F7F9;
    margin-top: .1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: .5rem 1rem;
}
}
/*END resize navbar brand for image*/

/* HEXES */
* {
    margin: 0;
    padding: 0;
}
#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin:0 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}

.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  background-color: rgba(0, 128, 128, 0.8);
  font-weight: 300;
  -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition:          transform .2s ease-out, opacity .3s ease-out;
}
.hex h1 {
  bottom: 72.5%;
  padding-top:50%;
  font-size: 1em;
  z-index: 1;
  -webkit-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
}
.hex h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.hex p {
  top: 60%;
  padding-bottom:50%;
  font-size: 0.8em;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}

/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}
/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/

@media (min-width:1201px) { /* <- 5-4  hexagons per row */
  #hexGrid{
    padding-bottom: 4.4%
  }
  .hex {
    width: 20%; /* = 100 / 5 */
  }
  .hex:nth-child(9n+6){ /* first hexagon of even rows */
    margin-left:10%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
  #hexGrid{
    padding-bottom: 5.5%
  }
  .hex {
    width: 25%; /* = 100 / 4 */
  }
  .hex:nth-child(7n+5){ /* first hexagon of even rows */
    margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    padding-bottom: 7.4%
  }
  .hex {
    width: 33.333%; /* = 100 / 3 */
  }
  .hex:nth-child(5n+4){ /* first hexagon of even rows */
    margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid{
    padding-bottom: 11.2%
  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n+3){ /* first hexagon of even rows */
    margin-left:25%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
}



/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  background-color: inherit;
  font-size: inherit;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover{
  text-decoration: underline;
  outline: none;
}

.collapsible:focus{
  outline: none;
}


/* Style the collapsible content. Note: hidden by default */
.content {
  display: none;
  overflow: hidden;
  outline: none;
}