<div class="hero-image"> 
        <div class="image-text">
            <div class="bottom-text">Haakon Gjerløw</div>
            <div class="top-text"> <a href="https://www.haakongjerlow.com/"> Personal website </a> </div>
        </div>
</div>
